* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #000000;
    overflow-x: hidden;
}

header {
    display: flex;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    /* height: 90%; */
    overflow-x: hidden;
    /* border: 2px solid red; */
    width: 100%;
    margin: 0px;
}


.content-wrapper {
    color: white;
    /* border: 2px solid red; */
    flex: 1;

}

.img-wrapper {
    /* border: 2px solid red; */
    overflow-x: hidden;
    flex: 1;
}

.img-wrapper img {
    overflow: hidden;
    /* max-width: 100%; */
    max-height: 100%;
}

@media (max-width:740px) {
    header {
        flex-direction: column;
    }

    .img-wrapper {
        /* border: 2px solid red; */
        overflow-x: visible;
        flex: 1;
    }

    .img-wrapper img {
        overflow: visible;
        /* max-width: 100%; */
        max-height: 100%;
        width: 100%;
    }
}

.flex-box {
    display: flex;
    /* border: 2px solid red; */

    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.menu-box {
    /* border: 2px solid red; */
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    align-items: center;
    column-gap: 55px;
    justify-content: center;
    height: 50px;
    grid-template-columns: repeat(5, auto);
    background-color: black;
    z-index: 1000;
}

.menu {
    margin: 10px;
    padding: 10px;
    background-color: white;
    width: 115px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: whitesmoke;
}

.title {
    align-items: center;
    height: 85vh;
    display: flex;
    font-family: sans-serif;
    padding: 33px;
    font-size: 85px;
}

.sub-title {
    font-size: 25px;
    color: whitesmoke;
    /* border: 2px solid red; */

    padding: 10px;
}

.flex-portfolio {
    display: grid;
    justify-content: center;
    /* border: 2px solid red; */
    column-gap: 20px;
    grid-template-columns: repeat(2, auto);
}

.card {
    box-shadow: 11px -7px 20px 0 rgba(247, 246, 246, 0.371);
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.648);
    color: whitesmoke;
    transition: max-height 1s;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-portfolio .card {
    max-height: 250px;
    overflow: hidden;
    transition: max-height 1s;
}

.flex-portfolio .card:hover {
    box-shadow: -10px 7px 13px 0 rgba(247, 246, 246, 0.371);
    cursor: pointer;
    max-height: 1000px;
    height: fit-content;
}

@media (max-width:740px) {
    .flex-portfolio {
        display: grid;
        justify-content: center;
        column-gap: 20px;
        grid-template-columns: repeat(1, auto);
    }

    .flex-portfolio .card {
        max-height: 1000px;
        overflow: hidden;
        transition: max-height 1s;
    }
}

.flex-about {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: center;
}

.flex-about .card {
    box-shadow: 3px 0px 13px 0 rgba(247, 246, 246, 0.371);
    padding: 15px;
    font-family: sans-serif;
    line-height: 2;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.648);
    color: whitesmoke;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-contact {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-evenly;
    align-content: center;
}

.flex-contact .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 65%;
    flex-direction: column;
    margin-bottom: 100px;
    cursor: pointer;
}

.card-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.flex-contact .card:hover {
    box-shadow: -10px 7px 13px 0 rgba(247, 246, 246, 0.371);
}

.flex-contact .card img {
    height: 60px;
    width: 60px;
}

.flex-contact .card h3 {
    margin-top: 10px;
}

.flex-contact .card h5 {
    margin-top: 10px;
    text-align: center;
}

@media (max-width:740px) {
    .flex-contact {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        justify-content: space-around;
        align-content: center;
    }
}